* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(40, 231, 238, 0.123);
}

ul {
    list-style: none;
    ;
}

a {
    text-decoration: none;
    color: black;
}

main {
    padding: 0 10%;
}


.title-section {
    text-align: center;
}

/* Navbar */
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-shadow: 0px .1px 5px;
    margin-bottom: 50px;
    background-color: black;
    color: white;
}

.navbar {
    width: 20%;
}

.navbar>ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    position: relative;
}

.nav-item{
    color: white;
}
.nav-item::after {
    content: "";
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: width .3s ease;
}

.nav-item:hover::after {
    width: 100%;
}


/* Cards mascotas */
.card {
    width: 20%;
    box-shadow: 4px 4px 8px gray;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    transition: transform 1s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card>img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card>p {
    padding: 10px;
}

/* contact-section */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* formulario */
form {
    border: 1px solid lightgrey;
    border-radius: 8px;
    width: 40%;
    padding: 2%;
    min-width: fit-content;
}

form label::after {
    content: "*";
    color: red;
}

fieldset {
    padding: 2%;
}

/* Estilos para el diálogo */
dialog {
    border: none;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;

    opacity: 0;
    transition: opacity 1s ease;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);

    /*diálogo esté centrado */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


dialog::backdrop {
    background-color: rgba(0, 0, 0, .5);
}