* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;;
}
a{
    text-decoration: none;
    color: black;
}
main{
    padding: 0 10%;
}


.title-section{
    text-align: center  ;
}
/* Navbar */
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-shadow: 0px .1px 5px;
    margin-bottom: 50px;
}
.navbar{
    width: 20%;
}
.navbar > ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    position: relative;
}
.nav-item::after{
    content: "";
    position: absolute;
    background-color: black;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 1px;
    transition: width .3s ease;
}
.nav-item:hover::after{
    width: 100%;
}


/* Cards mascotas */
.card{
    width: 20%;
    box-shadow: 4px 4px 8px gray;
    margin: 20px;
    border-radius: 8px;
}
.card > img{
    width: 100%;
    border-radius: 8px 8px 0  0;
}
.card > p{
    padding: 10px;
}

/* contact-section */
.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* formulario */
form{
    border: 1px solid lightgrey;
    border-radius: 8px;
    width: 40%;
    padding: 2%;
}
fieldset{
    padding: 2%;
}


