* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(43, 56, 59, 1) 35%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

main {
    padding: 0 10%;
}

.title-section {
    font-size: xx-large;
    font-family: "Bitcount Grid Single", system-ui;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    animation: typing 4s steps(90) 1s forwards;
}


.title-section::after {
    content: ">";
    font-weight: bolder;
    margin: 0 12px;
}



.title-section::before {
    content: "<";
    font-weight: 700;
    margin: 0 12px;

}

.paragraph {
    font-family: 'Tahoma';
}

/* #region NavBar */
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-shadow: 0px .1px 5px;
    margin-bottom: 50px;
    background-color: black;
}

.navbar {
    width: 20%;
}

.navbar>ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    position: relative;
}

.nav-item {
    color: white;
}

.nav-item::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 5px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/027/376/small/fire-flames-on-abstract-art-black-background-free-photo.jpg");
    transition: width .3s ease;
    animation: animate 20s linear infinite;
}

.nav-item:hover::after {
    width: 100%;
}

/* #endregion */

/* #region about-me */
.about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-section .img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 8px rgba(255, 255, 255, 0.089));
}

/* #endregion */

/* #region proyects */
.proyects-container {
    margin-top: 1em;
    display: grid;
    gap: 20px;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.proyect-card {
    padding: 5%;
    border: 1px solid rgba(128, 128, 128, 0.288);
    border-radius: 8px;
}
.proyect-card:hover {
    transform: scale(1.03);
    transition: all .5s ease;
}

.container-slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider {
    width: 40%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slide-track {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100px * 10);
    /* 4 imágenes x 2 duplicadas */
    animation: scroll 20s linear infinite;
}

.slide {
    width: 100px;
    /* ancho de cada imagen */
    height: 100px;
    /* alto de cada imagen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #endregion */

/* #region Cards mascotas */
.mascotas-container {
    width: 60%;
    display: grid;
    gap: 5em;
    grid-template-areas: 
    "animal1 animal1 animal2"
    "animal3 animal3 animal2";
}
.animal1{
    grid-area: animal1;
}
.animal2{
    grid-area: animal2;
}
.animal3{
    grid-area: animal3;
}


.card {
    box-shadow: 4px 4px 8px gray;
    background-color: white;
    border-radius: 8px;
    color: black;
    transition: transform .2s ease;
}

.card:hover {
    transform: scale(1.02);
}

.card>img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card>p {
    padding: 10px;
}
/* #endregion */

/* contact-section */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* formulario */
form {
    border: 1px solid #72728B;
    border-radius: 8px;
    width: 100%;
    padding: 5%;
    min-width: fit-content;
}

form label::after {
    content: "*";
    color: red;
}



.input-container {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.input-container>input {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid green;
    outline: none;
    color: white;

}

/* Estilos para el diálogo */
dialog {
    border: none;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;

    opacity: 0;
    transition: opacity 1s ease;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);

    /*diálogo esté centrado */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


dialog::backdrop {
    background-color: rgba(0, 0, 0, .5);
}


@keyframes animate {
    to {
        background-position: -500px;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        color: violet;
    }

    100% {
        width: 100%;
        color: #76728b;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100px * 5));
    }

    /* desplaza las originales */
}

@media (min-width: 768px) {
    .about-me-section {
        flex-direction: row;
        justify-content: space-between;

    }

    .about-me-section>.about-me {
        width: 70%;
    }

    .proyects-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {

    .proyects-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}